<h1>Formulário Teste</h1>

<form name="formTeste" action="/" method="GET" id="formTeste">
    <p>
        Nome:
        <input type="text" name="nomeUsuario" id="nomeUsuario" />
    </p>

    <p>
        Sexo:
        <input type="radio" name="sexo" value="m" id="sexo_m" />Masculino
        <input type="radio" name="sexo" value="f" id="sexo_f" />Feminino
        <input type="radio" name="sexo" value="o" id="sexo_o" />Outro
    </p>

    <p>
        Cidade:
        <select name="cidade" id="cidade">
            <option value="curitiba">Curitiba</option>
            <option value="araucaria">Araucária</option>
            <option value="sao_jose_dos_pinhais">São José dos Pinhais</option>
            <option value="colombo">Colombo</option>
            <option value="almirante_tamandare">Almirante Tamandaré</option>
            <option value="piraquara">Piraquara</option>
            <option value="campo_largo">Campo Largo</option>
            <option value="fazenda_rio_grande">Fazenda Rio Grande</option>
        </select>
    </p>

    <p>
        <input type="submit" value="Enviar" id="submit_button" />
    </p>
</form>
