<h1>Dados Enviados</h1>

<table width="500" border="1"cellpadding=5>
    <thead>
        <tr>
            <th>Parâmetro</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
    <% @p.each do |key, value| %>
        <tr>
            <td><%= key %></td>
            <td><%= value %></td>
        </tr>
    <% end %>
    </body>
</table>
